<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning VueJs</title>
</head>
<body>
    <div id="app">
        <h2>{{ message }}</h2>
        <ul>
            <li v-for="(color, index) in colores">{{color.nombre}} - 
                <span v-if="color.numero === false"> Inactivo </span>
                <span v-else> Activo </span>    
            </li>
        </ul>
        <ul>
            <li v-for="list of lists">{{list}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="01.js"></script>

</body>
</html>